		p{
		text-align: justify;
		font-size: 18px;
		font-family: "Arial";
		}
		h1{
			text-align: center;
			color: black;
			font-family: "Arial";
		}
		h3{
			font-weight: bold;
			color: black;
			font-family: "Arial";
		}
		li{
			font-size: 18px;
			font-family: "Arial";
		}
		button{
			color: black;
		}
		body{
			background: "imagem01.jpg" ;
		}
